header{
    position: relative;
    width: 100%;
    top: 0%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
header a{
    text-decoration: none;
    text-align: right;
}
.navlist{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navlist li{
    position: relative;
    font-size: 18px;
}
.navlist a{
    color: black;
}
.navlist a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: rgb(252, 186, 3);
    bottom: -3px;
    left: 0%;
    transition: ease .40s;
}
.navlist a:hover::after{
    width: 100%;
}
.logo img{
    height: 40px;
    align-items: left;
}

.home{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    /* background-color: azure; */

}
.btn{
    border-radius: 8px;
    background: rgb(23, 23, 128);
    display: inline-block;
    color: white;
    padding: 9px 30px;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    margin-left: 25px;
}
.home h1{
    font-weight: 500;
    font-size: 36px;
    text-align: left;
}
.home p{
    font-size: 18px;
    text-align: justify;
}
.home span{
    color: rgb(252, 186, 3);
    font-size: 45px;
}
.pic img{
    border-radius: 6%;
}
.pic{
    background: none;

}

.subheading{
    background-color: azure;
}
.subheading h2{
    padding-bottom: 15px;
    font-size: 34px;
}
.subheading{
    text-align: center;
}
.subheading p{
    font-size: 17px;
}



.outfit{
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 10px;
}
.outfit img{
    width: 100%;
    height: 100%;
}



@media (max-width: 800px) {
  
    .home{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .pic img{
        width: 90%;
    }
    header{
        gap: 10px;
     }   
   
}
